:root{
    --PrimaryColor : hsl(199, 100%, 33%);
    --SecondaryColor : hsl(187, 85%, 43%);
    --grandientColor : linear-gradient(to right, hsl(187,
     85%, 43%), hsl(199, 100%, 33%));
     --whiteColor : hsl(0, 0%, 100%);
     --blackColor : hsl(201, 33%, 16%);
     --textColor : hsl(240, 4%, 36%);
     --whiteColorDeam : hsl(0, 0%, 93%);
     --greyText : rgb(199, 190, 190);
     --inputColor : rgb(239, 239, 239);
     --bodyColor : rgb(240, 240, 246);
     --cardBG : rgb(225, 225, 235);
}

.btn-reservation{
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-reservation:hover{
    background-color: #29d9d5;
    color: #fff;
}

#menu{
    background: url("../../Assets/home11.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#menu h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 1px;
    color: transparent;
    text-transform: lowercase;
}

#menu h4{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#menu p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}

.icon{
    color: #fff;
}

.homeFooterIcons{
    width: 100%;
    justify-content: center;

    .icon{
        font-size: 20px;
        margin: 0 5px;
        color: var(--whiteColor);
        font-weight: 600;
        &:hover{
            color: var(--PrimaryColor);
        }
    }
}